extends ../layout
block content
  .uk-section
    .uk-container.uk-container-expand
      .uk-flex.uk-flex-center
        .uk-card.uk-card-default.uk-card-hover.uk-card-body(
          class='uk-width-1-4@l uk-width-1-1@s uk-width-1-2@m')
          h3.uk-card-title.uk-text-center User List